@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.app {
  background-color: #fff;
}

* {
  font-family: 'Inter', sans-serif;
}

.display {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-weight: 700;
  color: #101828;
  font-size: 20px;
}

.anchor {
  background-color: #eaecf0;
  border-radius: 8px;
  transition: all 400ms ease;
}

.anchor:hover {
  filter: brightness(0.9);
}

.twin {
  height: 32px;
}

.sponsor {
  width: 120px;
  height: auto;
}

.borderr {
  border-top: 1px solid #eaecf0;
}